doctype html
html
  head
    meta(charset = 'utf-8')
    meta(http-equiv = 'X-UA-Compatible' content = 'IE = edge')
    meta(name = "viewport" content = "width, initial-scale = 1")

    title Simple URL Shortner

    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css")
    link(rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(href = "css/styles.css" rel = "stylesheet")


  body
    div(class = "siteWrapper")
      div(class  = "innerSiteWrapper")
        div(class = "mainContainer")
          div(class = "inner cover")
            h1 Simple URL Shortner
            h4 Based on Node.js and MySQL
            div(class = "row")
              div(class = "col-lg-12")
                div(class = "input-group inputGroupLg")
                  input(id = "urlField" type = "text" class="form-control" placeholder = "Input URL here.")

                  span(class = "input-group-btn")
                    button(class = "btn btnShorten" type = "button") Shorten

              div(class = "col-lg-12")
                div(id = "link")
    footer(id = "footer") Created by JunYoung Lee
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="js/btnCtrl.js")
